<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
    <title>Example app</title>

    <script src="assets/libs/angular/angular.min.js"></script>
    <!-- <script src="assets/libs/angular-route/angular-route.min.js"></script> -->
    <link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="app.js"></script>
    <script src="peopleService.js"></script>
    <script src="mainCtrl.js"></script>

</head>
<body ng-controller="MainCtrl">
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">MEAN stack</a>
            </div>
        </nav>
        <div class="col-xs-3">
            <a 
                ng-click="selectCategory('short')"  
                class="btn btn-block btn-default btn-lg">
                People short list
            </a>
            <a 
                ng-click="selectCategory('long')"
                class="btn btn-block btn-default btn-lg">
                People long list
            </a>
        </div>
        <div class="col-xs-8">
            <div class="alert alert-info" ng-show="data.message">
                {{data.message}}
            </div>
            <h2>Add Person:</h2>
            </br>
            <form name="form" class="form">
                <div class="form-group row">
                    <label for="name" class="col-xs-3 col-form-label"">Name</label>
                    <input type="text" name="name" ng-model="newPerson.name" required >
                    <div ng-show="form.$submitted || form.name.$touched">
                        <div ng-show="form.name.$error.required">missing field</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="surname" class="col-xs-3 col-form-label">Surname</label>
                    <input type="text" name="surname" ng-model="newPerson.surname" required>
                    <div ng-show="form.$submitted || form.surname.$touched">
                        <div ng-show="form.surname.$error.required">missing field</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="age" class="col-xs-3 col-form-label">age</label>
                    <input type="number" name="age" ng-model="newPerson.age" required>
                    <div ng-show="form.$submitted || form.age.$touched">
                        <div ng-show="form.age.$error.required">missing field</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mother" class="col-xs-3 col-form-label">Mother's name</label>
                    <input type="text" name="mother" ng-model="newPerson.mother" required>
                    <div ng-show="form.$submitted || form.mother.$touched">
                        <div ng-show="form.mother.$error.required">missing field</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="father" class="col-xs-3 col-form-label">Father's name</label>
                    <input type="text" name="father" ng-model="newPerson.father" required>
                    <div ng-show="form.$submitted || form.father.$touched">
                        <div ng-show="form.father.$error.required">missing field</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="add(newPerson)">Submit</button>
                <input class="btn" type="button" ng-click="reset(form)" value="Reset" />
                <pre>newPerson = "{{newPerson | json}}"</pre>
            </form>
            </br>
            <h2><label>Search: <input ng-model="searchText"></label></h2>
            <div class="well" ng-repeat="person in data.people | filter:searchText | limitTo:pageSize:indexFrom">
                <h3>
                    <strong>{{person.name}} {{person.surname}}</strong>
                    <span class="pull-right label label-primary">
                        {{person.age}} lat
                    </span>
                </h3>
                <span class="lead">
                    Mother's name: <strong>{{person.mother}}</strong>
                    </br>
                    Father's name: <strong>{{person.father}}</strong>
                </span>
                <button class="pull-right label label-danger" ng-click="delete(person._id, $index)">
                    Delete
                </button>
            </div>
            <div class="pull-right btn-group">
               <ul class="pagination">
                    <li class="page-item" ng-repeat="i in counter(numberPages) track by $index">
                      <a class="page-link" ng-click="selectPage($index+1)" ng-class="getPageClass($index+1)">{{$index+1}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>